


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;

}


$primary:hsl(0, 0%, 98%);
$secondary:#0000;


body.light{
    background-color: hsl(0, 0%, 98%);
   color:hsl(207, 26%, 17%);
    h1{
        color: hsl(207, 26%, 17%);
    }
   p{
       color: hsl(207, 26%, 17%);
   }
  
}

body.dark{
    background-color:rgb(41, 40, 40);
    color:hsl(0, 0%, 100%);
    .cards{
        background-color:  hsl(209, 23%, 22%);
        position: relative;
        z-index: -1;
        color:hsl(0, 0%, 100%);
    }
    
 
}



header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem;

}

.card{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    gap:1rem;
    justify-content: center;
    align-items: center;
}

.cards{
    cursor: pointer;
    text-decoration: none;

    img{
        max-width: 200px;
        max-height: 100px;
    }
}